<% provide(:title, "Top 10 Bar") %>
<div class="top_10_bar">
<table id='player_venue'>
	<tbody>
		<tr>
			<td><%= content_tag :div, "",id:"top10", 
				data: {players:playerdata} %></td>
		</tr>
		<tr>
			<td><div id="allplayers"> 
						<%= render "player_table", players: @players %>
					</div>
			</td>
		</tr>
	</tbody>
</table>
<div id="sidebar">
	<%= render "chosen_players" %>
</div>
</div>