<div class="playerComparison">
	<%= form_tag filter_path, class: 'playerFilter', remote: true do %>
		<%= hidden_field_tag :player_order, value = nil, options = {class: 'player_order'} %>
		<%= submit_tag :Submit, class: "submitFilter" %>
		<button type="button" class="submitAlias">Submit</button>
	<% end %>
	<h1> Player Comparison </h1>
	<div class='fixedHeader'>
		<div class='playercontainer'>
	<table class="table playerTable">
		<thead>
			<tr class='statsHeader'>
				<th class='name'> Name </th>
				<th class='points'> Points </th>
				<th class='miniutes_played'> Miniutes Played</th>
				<th class='goals_scored'> Goals Scored</th>
				<th class='own_goals'> Own Goals </th>
				<th class='penalty_saves'> Penalty Saves </th> 
			  <th class='penalty_missed'> Penalty Missed </th> 
				<th class='yellow_cards'> Yellow Cards </th>
				<th class='red_cards'> Red Cards </th>
				<th class='saves'> Saves</th> 
				<th class='bonus'> Bonus</th>
				<th class='esp'> ESP</th>
				<th class='net_transfers'> Transfers</th>
			</tr>
		</thead>
		<tbody class='scrollingBody'>
		<%=	render partial: "player", locals: {players: @players} %>
		</tbody>
	</table>
		</div>
	</div>
</div>