// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.playerComparison {
	.even {
		background:lightgrey;
	}
	th {
		text-align:left;
		background:lightblue;
		padding-left:5px;
		padding-right:5px;
	}
	td {
		text-align:right;	
		padding-left:5px;
		padding-right:5px;
	}
	td.name {
		text-align:left;	
	}
	td, th {
 		white-space: nowrap;
  	overflow: hidden;
	}
	table{
		border-collapse:collapse;
	}

	table, th, td {
  	border: 1px solid black;
	} 
	.playerTable th:hover {
		background-color:yellow;
	} 
	.submitAlias{
		width:100px;
		height:30px;
	}
}