// Place all the styles related to the scrapers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#scraper
{
	font-size:20px;
	text-align:left;
	color:black;
	label
	{
		color:blue;
		display:block;
		text-align:right;
	};
	td
	{
		padding-left:10px;
	};
};






