// Place all the styles related to the scrapers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#scraper
{
	font-size:20px;
	text-align:left;
	color:black;
	label
	{
		color:blue;
		display:block;
		text-align:right;
	};
	td
	{
		padding-left:10px;
		.form_submit
		{
			color:blue;
			font-size:22px;
    	display: table-cell;
	    vertical-align: top
		};
		.soccerball
		{
    	display: table-cell;
    	padding-left:30px;
    	vertical-align: top;
    	display:none;
 		}
	};
};

.notice
{
	font-size:24px;
	color:green;
}

.alert
{
	font-size:24px;
	color:red;
}
